@import 'base/color';
@import 'base/bar';
@import 'base/loader';

$font-stack: playfair display, poppins, open-sans, Helvetica, sans-serif;


body {
  font: 100% $font-stack;
  color: $primary-color;
}
.main-background{
  background-color: $primary-bg-color;
}

/*css for nav */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-brand{
 color:$primary-color; 
 font-style:italic;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: $secondary-bg-color;
}

@mixin section--padding {
    padding: 50px 0px;
    
}
@mixin transparent {
  background-color:rgba(255, 255, 255, 0.075);
  border-color:rgba(255, 255, 255, 0.25);
}


@mixin transform($property) {
  border:$property;
}


.class {
    margin:20px;
    &:hover {
        color:yellow;
    }
}

.form-control{
  @include transparent;
  color:$primary-color;
  font-size:12px;
  &:focus{
    border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
  background-color:$transparent;
  }
  &::placeholder{
  color:$primary-color;
  font-size:12px
}
}

.btn{
  @include transparent;
  color:$primary-color;
   &:focus{
    border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
  background-color:$transparent;
  }
}

.parallax-1 {
    /* The image used */
    background-image: url("../images/back.jpeg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .overlay-color{
      position:absolute;
      height:100%;
      width:100%;
      background-color:rgba(0,0,0,0.5);
     
    }
}
.parallex-section{
  padding:0;
  position:relative
}
.overlay-section{
  position: absolute;
  background-color: $primary-bg-color;
  top:0px;
  right:0px;
  padding:0px 50px;
  height:100%;
  div {
   padding: 10px;
  }
}
.overlay-section-name{
  position:absolute;
  left:120px;
  bottom:100px;
}
.about-section,.footer-section,.skills-section{
  @include section--padding;
  background-color: $secondary-bg-color;
  color:$blue-color;
}
.education-section,.interest-section{
  @include section--padding;
  color:$blue-color;
}

.center-vertical{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:flex-end;
}
.copyright-section{
  padding: 20px 0px;
}
.heading{
  font-style:italic;
}
.sub-content{
  color:$content-color;
  line-height:40px;
}
.pd-bottom-10{
  padding-bottom:10px;
}
.footer-section{
  h2{
  font-style: italic;
  color: $content-color;
  }
  .social{
  color: $content-color;
  padding-top:26px;

  i{
  font-size:20px;
  padding-right:15px
  }

  }
  
  h6{
   color: $content-color;
  }
  .space{
  padding-bottom:40px
  }
  .btn{
  background-color:$primary-bg-color
  }
  .center-vertical i{
  font-size:40px;

  }
}