@import 'base/color';

$font-stack: open-sans, Helvetica, sans-serif;


body {
  font: 100% $font-stack;
  background-color: $primary-bg-color;
  color: $primary-color;
}

@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}
@mixin transparent {
  background-color:rgba(255, 255, 255, 0.075);
  border-color:rgba(255, 255, 255, 0.25);
}
h1 {
	color :$primary-color;
  @extend %message-shared;
  @include push--auto;
  margin-top:30px
}

@mixin transform($property) {
  border:$property;
}

/* This CSS will print because %message-shared is extended. */
%message-shared {
  padding: 10px;
}

.class {
    margin:20px;
    &:hover {
        color:yellow;
    }
}

.form-control{
  @include transparent;
  color:$primary-color;
  font-size:12px;
  &:focus{
    border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
  background-color:$transparent;
  }
  &::placeholder{
  color:$primary-color;
  font-size:12px
}
}

.btn{
  @include transparent;
  color:$primary-color;
   &:focus{
    border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
  background-color:$transparent;
  }
}
select.form-control:not([size]):not([multiple]){
  height:auto;
}